<h1>User Details</h1>

<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <a [routerLink]="['/users']" class="btn btn-primary float-right mt-2">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">Return Users</span>
      </a>
    </div>
  </div>

<div class="panel-body" >
  <dl>
              <dt>First Name:</dt>
              <dd>{{user.first_name}}</dd>
              <dt>Last Name:</dt>
              <dd>{{user.last_name}}</dd>
              <dt>Email:</dt>
              <dd>{{user.email}}</dd>              
            </dl>

<div class="row">
  <div class="col-md-6" >
    <a [routerLink]="['/user-edit', user._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteUser(user._id)">DELETE</button>
  </div>
</div>

</div>
